* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    scrollbar-gutter: stable !important;
    overflow-y: scroll;
    line-height: 1;
}

:root {
    width: 100%;
    height: 100%;
    font-family: "Pretendard Variable", Pretendard, -apple-system, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

ol,
ul {
    list-style: none;
}

