@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    scrollbar-gutter: stable !important;
    overflow-y: scroll;
    line-height: 1;
}

:root {
    width: 100%;
    height: 100%;
    font-family: Pretendard-Regular, Helvetica, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

ol,
ul {
    list-style: none;
}

